<div class="image-row">
	<#if(!this.selection||!this.selection.title){#>
		<div class="image-chooser">
			<button type="button" class="click tve-button grey" data-fn="open_media">
				<#=this.labels.choose#>
			</button>
		</div>
		<#}#>
			<#if(this.selection&&this.selection.title){#>
				<div class="image-preview">
					<div class="row middle-xs">
						<div class="col-xs-10">
							<#=this.preview_icon()#>&nbsp;
								<span class="tcb-truncate t-80"><#=this.selection.title#></span>
						</div>
						<div class="col-xs-2 tcb-text-right">
							<a href="javascript:void(0)" class="image-remove click" data-fn="remove" title="<?php echo __( 'Remove', 'thrive-cb' ) ?>">
								<?php tcb_icon( 'close' ) ?>
							</a>
						</div>
					</div>
				</div>
				<#}#>
</div>