<div class="row">
	<div class="col-xs-6">
		<input type="text" disabled value="<?php echo __( 'None', 'thrive-cb' ); ?>">
	</div>
	<div class="col-xs-6">
		<button class="click tve-button blue" data-fn="openModal">
			<#= this.model.config.label #>
		</button>
	</div>
</div>
