<div class="row middle-xs between-xs">
	<div class="col-xs-2">
		<span class="input-label"><#=this.model.config.label#></span>
	</div>
	<div class="col-xs-6">
		<input type="text" class="style-change-input" readonly>
	</div>
	<div class="col-xs-4 tcb-text-right">
		<button class="blue tve-button click" data-fn="open_panel">
			<#=(this.model && this.model.config && this.model.config.button_label) || <?php echo json_encode( __( 'Change', 'thrive-cb' ) ); ?>#>
		</button>
	</div>
</div>
